*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Variables */
:root {
    --white: #ffffff;/*основной фон*/
    --black: #000000; /*текст база  */
    --black-lighter: #333333; /*текст описание  */
    --grey: #eeeeee;/*серый база*/
    --grey-focus:#ebebeb;/*текст-рейтинг */
    --grey-lighter: #f2f2f2;/*задник сайта  */
    --grey-darker:#666666;/*текст-рейтинг */
    --blue: #81b3d2;/*синий база*/
    --blue-darker: #669EC0;/*наведение на кнопку*/
    --blue-darkest: #5496BD;/*нажатие кнопки*/
    --brown: #766357;/*коричневый база */
    --brown-darker: #604E43;/*наведение на кнопку*/
    --brown-darkest:#503E33;/*нажатие кнопки*/
}

.page {
    height: 100%;
}

body {
    min-width: 1200px;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: var(--black);
    text-transform: uppercase;
    text-align: center;
    background-color: var(--white);
    background-position: center;
    background-repeat: no-repeat;   
}

a {
    text-decoration: none ;
}

img {
    max-width: 100%;
    height: auto;
}

/* Grid */

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    width: 1200px;
    margin: 0 auto;
    
}

.top-page {
    width: 1200px;
    margin: 0 auto;
    
}
.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main-nav a {
    line-height: 26px;
    color: var(--black);
    
}

.main-nav,
.nav,
.social,
.adv,
.adv-description {
    list-style: none;
}

.logo {
    position: absolute;
    width: 140px;
    height: 70px;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1200px;
    min-height: 56px;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 72px;
    padding-right: 72px;
    font-weight: bold;
    
}

h1 {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 26px;
}

h3 {
    font-size: 21px;
}

img {
    max-width: 100%;
    height: auto;
}



.nav a:hover,
.nav a:focus {
    color: var(--blue);
}

.nav a:active {
    color: var(--black);
    opacity: 0.3;
}

.nav a:not[href] {
    color: var(--brown);
}

.welcome {
    background-image: url(../img/polygon.png);
    background-position: bottom;    
}

.welcome img {
    background-image: url(../img/background-photo.jpg);
    width: 1200px;
    height: 509px;      
}
.advantages {
    display: flex;
    flex-direction: column;
}
.adv-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    min-height: 216px ;
}

.adv-description {
    padding: 0;
    margin: 0;
}

.adv-description:nth-child(5) {
    
}

.blue {
    padding: 0;
    margin: 0;
    display: flex;
    color: var(--white);
    background-color: var(--blue);

}

.blue p {
    height: 100%;
    padding: 0;
    margin: 0;
}

.blue section {
    flex-grow: 1;
    align-self: center;
}



.adv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.adv p {
    color: var(--black-lighter);
}



.hotel_id h3{
    line-height: 26px; 
}

.blue_b {    
    background-color: var(--blue-darker);
}

.blue_b:hover,
.blue_b:focus {
    background-color: var(--blue-darker);
}

.blue_b:active {
    background-color: var(--blue-darkest);
    opacity: 0.3;
}

.brown_b {
    background-color: var(--brown);
}

.brown_b:hover,
.brown_b:focus {
    background-color: var(--brown-darker);
}

.brown_b:active {
    background-color: var(--brown-darkest);
    opacity: 0.3;
}

.visually-hidden {
    display: none;
}

/* Hotels */

.search-results {
    display: flex;
    flex-direction: column;   
    width: 1200px;
    min-height: 150px;
    margin: 0 auto;
    outline: 5px solid rgba(0, 255, 0, 0.3);
}

.hotel_idf {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 150px;
    outline: 5px solid rgb(0, 0, 0);
}

.name-price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    outline: 5px solid rgb(38, 172, 56);
    
}

.name-price h3 {
    grid-column: 1 / -1;
    grid-row: 1 /2 ;
    outline: 5px solid rgb(0, 0, 0);
}

.name-price div {
    align-items: left;

}

.hotel_photo {
    width: 208px;
    outline: 5px solid rgb(211, 11, 11);
}


.hotel_reit {
    justify-self: flex-end;
    outline: 5px solid rgb(163, 15, 106);
}

.page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    width: 100%;
    min-height: 120px;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-self: center;
}